
.fixed-table-container thead th .sortable {
    padding-right: 18px;
}

/*h3 + .bootstrap-table > .fixed-table-toolbar {*/
    /*margin-top: -50px;*/
/*}*/

h3.table-heading{
    float: left;
}

th[data-field='actions'] {
    min-width: 88px;
}

.no-wrap {
    display: flex;
}

.spinner-right {
    padding-left: 5px;
    margin-top: -3px;
    float: right;
}

.spinner-right > .btn, .btn-xxs {
    padding: 0px 5px;
    font-size: 8px;
    line-height: 1.5;
    border-radius: 2px;
}

span.sort {
     display: none;
}



